@media screen and (min-width: 600px) {
/***************************
HEADING
***************************/
.heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

hr {
	display: none;
}

#social-box {
	flex-basis: 38%;
	
}
/***************************
CONTENT
***************************/
.dl-next {
	width: 45%;
	display: inline-block;
	float: left;
}

iframe,
.about {
	width: 50%;
	float: right;
	margin: 1em 0;
}

h4,
.buy-music {
	clear: both;
}

.clrfx {
	content: "";
	display: table;
	clear: both;
}
	

}