@media screen and (min-width: 600px) {
	
/***************************
HEADING
***************************/
.heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

hr {
	display: none;
}

#social-box {
	flex-basis: 40%;
	
}
/***************************
CONTENT
***************************/
.dl-next {
	width: 45%;
	display: inline-block;
	float: left;
	background-color: #c7c7c7;
}

iframe,
.about {
	width: 50%;
	float: right;
}

iframe,
.about {
	opacity: .8;
}

.albums {
	clear: both;
}

.clrfx {
	content: "";
	display: table;
	clear: both;
}
}

@media screen and (min-width: 1000px) {
/***************************
GENERAL
***************************/
body {
	background-image: url("../img/site_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: right;
}	
	
.container {
	max-width: 900px;
}	

/***************************
CONTENT
***************************/
.dl-next {
	box-shadow: none;
}
	
.albums {
	float: right;
	width: 50%;
	clear: none;
}	
	
}

