/***************************
GENERAL
***************************/
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.about {
	-webkit-box-shadow: inset 0 0 10px 5px #555;
	-moz-box-shadow: inset 0 0 10px 5px #555;
	box-shadow: inset 0 0 10px 5px #555;
}

body {
	font-family: 'Lato', 'Arial', 'Verdana', sans-serif;
	font-size: .95em;
	
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
	
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

img {
	max-width: 100%;
	outline: 1px solid #111;
}

.container {
	width: 90%;
	margin: 0 auto;
	padding: .5em 0;
	text-align: center;
}

h3,
h4,
p {
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

figurecaption {
	display: block;
	/* padding: 0 .4em .4em; */
}

/***************************
COLOR
***************************/
body {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(200, 200, 200, 0.75), rgba(0, 0, 0, 1));
}

h3,
h4,
p,
a {
	color: #111;
}

header,
.about,
footer {
	background-color: #111;
}

.about h3,
.about p,
footer span {
	color: #c7c7c7;
}

.dl-next a:hover {
	color: #473e34;
}

/* .dl-next a {
	color: #111;
} */

/* .dl-next a:hover,
.buy-music figure:nth-child(n+2) figurecaption //Select all but the first child {
	color: #473e34;
}

.buy-music figure:first-child figurecaption {
	color: #6e70a8;
} */

/***************************
HEADING
***************************/
header {
	-webkit-box-shadow: 0 5px 5px #555;
	-moz-box-shadow: 0 5px 5px #555;
	box-shadow: 0px 2px 10px #555;
}

.heading img {
	outline: 0;
}

/* Gradient transparent - color - transparent */
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(200, 200, 200, 0.75), rgba(0, 0, 0, 0));
}

#social-box {
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	justify-content: space-between;
}

.social-icon {
	max-width: 2em;
}

.social-icon img:hover {
	opacity: .5;
}

/***************************
CONTENT
***************************/
.dl-next {
	-webkit-box-shadow: 0px 0px 4px 4px #c7c7c7;
	-moz-box-shadow: 0px 0px 4px 4px #c7c7c7;
	box-shadow: 0px 0px 4px 4px #c7c7c7;
	margin: 0 0 1em;
	outline: 1px solid #111;
}

.dl-next img:hover {
	opacity: .75;
}

.dl-next figurecaption {
	padding: 0 .4em .5em;
}

iframe {
	border: 0;
	width: 100%;
	height: 120px;
}

.albums {
	background-color: #999;
	outline: 1px solid #555;
	padding:.75em;
}

.albums h4 {
	font-size: .9em;
	padding-bottom: .75em;
}

.albums img:hover {
	opacity: .5;
}

.buy-music {
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
}

.buy-music figure {
	margin: 0 .5em;
}

.buy-music figurecaption {
	font-style: italic;
	font-size: .9em;
}

/***************************
ABOUT
***************************/
.about {
	margin: 1em auto;
	padding: .75em;
}

.about h3::before {
	content: url(../img/music-note.png);
	display: inline-block;
	margin-right: .5em;
}

.about h3::after {
	content: url(../img/music-note.png);
	display: inline-block;
	margin-left: .45em;
}

.about p {
	font-size: .9rem;
}

/***************************
PHOTOS
***************************/
#slideshow {
	position: relative;
}

nav a {
	position: absolute;
	top: 50%;
	display: block;
	outline: none;
	text-align: left;
	z-index: 1000;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

nav a#prev {
	left: 0;
}

nav a#next {
	right: 0;
}

/* Change the margin and size of the arrows */
.nav-circlepop a {
	margin: 0 1em;
	width: 30px;
	height: 30px;
}

/* Creates the circle background */
.nav-circlepop a::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: rgba(200,200,200,.25);
	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

.nav-circlepop .icon-wrap {
	position: relative;
	display: block;
	margin: 10% 0 0 10%;
	width: 80%;
	height: 80%;
}

.nav-circlepop a#next .icon-wrap {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.nav-circlepop .icon-wrap::before,
.nav-circlepop .icon-wrap::after {
	position: absolute;
	left: 25%;
	width: 3px;
	height: 50%;
	background: #ccc;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* Position the bottom part of the arrow */
.nav-circlepop .icon-wrap::before {
	-webkit-transform: translateX(-50%) rotate(30deg);
	transform: translateX(-50%) rotate(30deg);
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

/* Position the top part of the arrow */
.nav-circlepop .icon-wrap::after {
	top: 50%;
	-webkit-transform: translateX(-50%) rotate(-30deg);
	transform: translateX(-50%) rotate(-30deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.nav-circlepop a:hover::before {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.nav-circlepop a:hover .icon-wrap::before,
.nav-circlepop a:hover .icon-wrap::after {
	background: #20202f;
}

/* Changes position of the bottom part of the arrow */
.nav-circlepop a:hover .icon-wrap::before {
	-webkit-transform: translateX(-50%) rotate(45deg);
	transform: translateX(-50%) rotate(45deg);
}

/* Changes the position of the top part of the arrow */
.nav-circlepop a:hover .icon-wrap::after {
	-webkit-transform: translateX(-50%) rotate(-45deg);
	transform: translateX(-50%) rotate(-45deg);
}


/***************************
FOOTER
***************************/
footer {
	text-align: center;
	padding: 1em 0;
}

footer span {
	font-size: .8em;
	color: rgba(255,255,255,.7);
}







