/***************************
GENERAL
***************************/
* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', 'Arial', 'Verdana', sans-serif;
	font-size: .95em;
	
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
	
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	display: inline-block;
}

img {
	max-width: 100%;
}

.container {
	width: 95%;
	margin: 0 auto;
	padding: .5em 0;
	text-align: center;
}

h3 {
	margin: 0;
}



















