/***************************
GENERAL
***************************/
* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', 'Arial', 'Verdana', sans-serif;
	font-size: .95em;
	
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
	
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	display: inline-block;
}

img {
	max-width: 100%;
}

.container {
	width: 95%;
	margin: 0 auto;
	padding: .5em 0;
	text-align: center;
}

h3 {
	margin: 0;
}

/***************************
COLOR
***************************/
header,
footer {
	background-color: #bbb;
}

.dl-next a {
	color: #c7c7c7;
}

.dl-next a:hover,
.buy-music figure:nth-child(n+2) figurecaption /*Select all but the first child*/ {
	color: #67594c;
}

.buy-music figure:first-child figurecaption {
	color: #6e70a8;
}

/***************************
HEADING
***************************/
header {
	box-shadow: 0px 5px 5px #555;
}

/* Gradient transparent - color - transparent */
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#social-box {
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	justify-content: space-between;
}

.social-icon {
	max-width: 2em;
}

/***************************
CONTENT
***************************/
.dl-next {
	margin: .25em 0 .75em;
	box-shadow: 0px 0px 4px 4px #67594c;
}

.buy-music {
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	outline: 2px solid #555;
	padding: .75em;
}

.buy-music figure {
	margin: 0 .5em;
}

.buy-music figurecaption {
	font-style: italic;
	font-size: .75em;
}


















